body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.login-link, .login-link:link, .login-link:visited, .login-link:hover, .login-link:active, .login-link:focus {
  color: inherit;
  text-decoration: inherit;
}

.App, html {
  background: linear-gradient(180deg, rgba(33,37,41,1) 15%, rgba(122,224,245,1) 100%);
  /* height: 100vh; */
}

.user-login {
  height: 120vh;
  background: linear-gradient(180deg, rgba(33,37,41,1) 15%, rgba(122,224,245,1) 100%);
}

.user-pfp {
  width: 50px;
}

.track-container {
  border: 1px solid white;
  width: 20vw;
  height: 200px;
}

.tracklist {
  max-width: 1350px !important;
  min-width: 900px !important;
}

.track-card {
  /* width: clamp(165px, 15vw, 250px); */
  width: 250px;
}

.card-text, .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-circle svg{
  width: 100%;
}

.accordion-header .accordion-button {
  color: white;
  background-color:rgb(33, 37, 41);
  border: none;
}

.accordion-header .accordion-button:not(.collapsed) {
  color: white;
  background-color:rgb(33, 37, 41)
}

.accordion-header .accordion-button::after:not(.collapsed) {
  color: white;
  background-color: white;
}

.accordion-header .accordion-button::after {
  display: none;
}

.accordion .accordion-item {
  background-color:rgb(24, 26, 27);
  color: white;
}

.accordion-button svg {
  left: 90%;
}
/* .progress-comment {
  border: 1px solid white;
} */

.accordion-header .accordion-button:focus {
  border-color: #e5efff;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(233, 241, 252, 0.25);
}

.progress-comment .rating {
  font-size: clamp(30px, 5vw, 75px);
}

.progress-comment .rating-comment {
  font-size: clamp(12px, 2vw, 30px);
}

.accordion-body .list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-pill {
  border-radius: 0px 0px 15px 0px;
  border: 2px solid rgb(83, 83, 83);
}

.percent-pill {
  border-radius: 0px 0px 0px 15px;
  border: 2px solid rgb(83, 83, 83);
}

.data-plot {
  border-radius: 20px;
}

.user-content {
  flex-direction: row-reverse;
  justify-content: left;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .user-content {
    flex-direction: row;
    
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
}
